.gdb_history
.vs/
.vscode/
**/deepcopy.log
**/tdengine.log
**/*.luac
**/.DS_Store
**/__pycache__
asset/blender/virtual_environment
build/windows/enc_temp_folder
build/windows/bytecode
build/windows/x64
build/windows/.vs
build/windows/DeepCopy
build/windows/tdengine.vcxproj.user
build/linux/firmament
build/steam
src/build_info.hpp
